*{
	font-family: "Microsoft YaHei" , Tahoma, Arial, sans-serif;
}

/*"Microsoft YaHei" ,*/

body{
	background: #232323 !important;
}

.top_nav{
	height: 29px;
	background: #000;
	color: #CBCBCB;
	/*text-align: center;*/
}

.tn_left{
	margin-left: 14.1288%;
}

.top_nav li{
	display: inline-block;
	line-height: 29px;
	width: 10%;
	text-align: center;
	border-left: 1px solid #4D4D4D;
}

.top_nav li:first-child{
	background: #E23E37;
}

.top_nav li:last-child{
	border-right: 1px solid #4D4D4D;
}

.top_nav li:hover{
	background: #E23E37;
}

.logo{
	background: #232323;
	width: 71.59818%;
	padding: 20px 0 24px 0;
	margin: auto;
	text-align: center;
}

.logo h4{
	color: #737171;
}

.logo h1{
	color: #fff;
}

.logo h1 span{
	color: #DE2D2D;
}

/*.main{
	width: 71.59818%;
	margin: auto;
}*/

.main_nav{
	border-top: 1px solid #343333;
}

.first_class{
	width: 71.59818%;
	line-height: 50px;
	margin: auto;
}

.main .main_nav .first_class li{
	display: inline-block;
	/*width: 8.54165%;*/
	font-size: 15px;
	color: #737171;
	font-weight: bolder;
	padding: 0px 10px;
}


.bd{
	height: 15px;
	width: 1px;
	display: inline-block;
	background: #000;
	box-shadow: 1px 1px 1px #616161;
	margin: 0px 15px;
	transform: rotateZ(45deg);
}


.main .main_nav .first_class li:hover{
	background: #E23E37;
	color: #fff; 
}

.main .main_nav .show_class {
	margin-top: -1px;
	position: absolute;
	width: 100%;
	z-index: 111;
}

.main .main_nav .show_class .section{
	display: none;
}

.main .main_nav .show_class .title_bg{
	background: #E23E37;
}

.main .main_nav .show_class .title{
	width: 71.59818%;
	line-height: 40px;	
	margin: auto;
}

.main .main_nav .show_class .title img{
	float: left;
}

.main .main_nav .show_class .title li{
	display: inline-block;
	font-size: 15px;
	color: #fff;
	font-weight: bolder;
	padding: 0px 10px;
	width: 12%;
}

.main .main_nav .show_class .other_class{
	background: rgb(57,57,57);
}


.main .main_nav .show_class .other_bg{
	height: 292px;
	width: 71.59818%; 
	margin: auto;
}

.main .main_nav .show_class .other_bg img{
	margin-top: 20px;
	margin-right: 65px;
	float: left;
}

.main .main_nav .show_class .other_bg ul{
	width: 10%;
	padding: 21px 19px;
	height: 250px;
	float: left;
	border-left: 1px solid #444;
	border-right: 1px solid #444;
	color: #B3B3B3;
}

.main .main_nav .show_class .other_bg li{
	margin-top: 0.6em;
}

#wrap{
	width: 100%;
	/*border: 5px solid #abcdef;*/
	position: relative;
	height: 575px;
	overflow: hidden;
}

#wrap ul {
	position: absolute;
	/*overflow: hidden;*/
	width: 500%;
}

#wrap ul li{
	float: left;
	width: 20%;
}

#wrap ul li div{
	width: 100%;
	height: 575px;
	/*background-size: cover;*/
	background-position: 100% 0%;
}

#wrap ol li{
	position: absolute;
	margin-top: 264px;
}



#wrap ol li a{
	width: 38px;
	display: block;
	height: 48px;
}

#wrap ol li:nth-child(1){
	background: url(../img/main_btn_arrow_L.png);
	margin-left: 80px;
}

#wrap ol li:nth-child(1):hover{
	background: url(../img/main_btn_arrow_Lov.png);
}

#wrap ol li:nth-child(2){
	background: url(../img/main_btn_arrow_R.png);
	right: 80px;
}

#wrap ol li:nth-child(2):hover{
	background: url(../img/main_btn_arrow_Rov.png);
}

#wrap ul li:nth-child(1) div{
	background: url(../img/1.jpg);
}

#wrap ul li:nth-child(2) div{
	background: url(../img/2.jpg);
}

#wrap ul li:nth-child(3) div{
	background: url(../img/3.jpg);
}

#wrap ul li:nth-child(4) div{
	background: url(../img/4.jpg);
}

#wrap ul li:nth-child(5) div{
	background: url(../img/1.jpg);
}


footer{
	margin-top: 30px;
	text-align: center;
	padding: 20px;
	color: #FFF;
}



