body{
	background: #fff !important;
}

header,nav,footer{
	background: #232323;
}

.main .container{
	background: #fff;
	width: 71.59818%; 
	margin: auto;
	max-width: 960px;

}

.main .container .class_selection_container .ad_img{
	width: 100%;
	height: 135px;
	background: url(../img/LIST_IMG_lcg.jpg);
	margin: 35px 0;
}

.main .container .class_selection_container .class_selection ul{
	position: relative;
}

.main .container .class_selection_container .class_selection ul li{
	background: rgb(153,153,153);
}


.main .container .class_selection_container .class_selection li{
	display: inline-block;
	line-height: 45px;
	height: 45px;
	width: 16.6666%;
	/*text-align: center;*/
	/*border: 1px solid #000;*/
}

.main .container .class_selection_container .class_selection ul li a{

	text-indent: 29px;
}



.main .container .class_selection_container .class_selection ul li:nth-child(2n):before{
	content: '';
	position: absolute;
	margin-left: 16.666%;
	border-top: 45px solid rgb(153,153,153);
	border-right: 29px solid rgba(0, 0, 0, 0);
}

.main .container .class_selection_container .class_selection ul li:nth-child(2n+1):before{
	content: '';
	position: absolute;
	margin-left: 16.666%;
	border-bottom: 45px solid rgb(153,153,153);
	border-right: 29px solid rgba(0, 0, 0, 0);
}


.main .container .class_selection_container .class_selection ul li:last-child:before{
	display: none;
}

.main .container .class_selection_container .class_selection ul li a{
	text-align: center;
	display: block;
	color: #FFF;
	text-decoration: none;
	font-size: 14px;
	font-weight: bolder;
}


.main .container .class_selection_container .class_selection ul li.focus a{
	background: #E23E37; 
}

.main .container .class_selection_container .class_selection ul li:nth-child(2n+1).focus:before {
	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #E23E37 rgba(0, 0, 0, 0); 
}

.main .container .class_selection_container .class_selection ul li:nth-child(2n).focus:before{
	border-color: #E23E37 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0)  rgba(0, 0, 0, 0); 
}

.main .container .class_selection_container .class_selection ul li:nth-child(2n+1) a:before{
	content: '';
	width: 2px;
	height: 53px;
	margin-top: -4.5px;
	margin-left: 18%;
	transform: rotateZ(-32deg);
	position: absolute;
	background: #FFF;
	display: block;
}

.main .container .class_selection_container .class_selection ul li:nth-child(2n) a:before{
	content: '';
	width: 2px;
	height: 53px;
	margin-top: -4.5px;
	margin-left: 18%;
	transform: rotateZ(32deg);
	position: absolute;
	background: #FFF;
	display: block;
}

.main .container .class_selection_container .class_selection ol{
	border-left: 1px solid #E6E6E6;
	border-right: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
}

.main .container .class_selection_container .class_selection ol li{
	width: 12.5%;
	border-bottom: 1px solid #E6E6E6;
}

.main .container .class_selection_container .class_selection ol li a{
	text-align: center;
	color: #737373;
	display: inline-block;
	height: auto;
	line-height: 20px;
	text-decoration: none;
	font-size: 12px;
	width: 100%;
}

.main .container .class_selection_container .class_selection ol li+li a{
	border-left: 1px solid #E6E6E6;
}

.main .container .classification{
	margin: 20px 0;
}

.main .container .classification .classification_attr{
	margin-top: 15px;
	border-bottom: 1px solid #E6E6E6;
	overflow: hidden;
}

.main .container .classification .title{
	width: 100%;
	height: 45px;
	background: #999;
	line-height: 45px;
	/* text-align: center; */
	color: #FFF;
	font-size: 14px;
	text-indent: 20px;
	margin-bottom: 15px;
}

.main .container .classification_attr .attrname{
	/*display: inline-block;*/
	float: left;
	color: #B2B2B2;
	text-indent: 10px;
	width: 12%;
}

.main .container .classification_attr ul{
	/*display: inline-block;*/
	float: left;
	width: 88%;
	margin-top: -10px;
	padding-bottom: 10px;
}

.main .container .classification_attr ul  li{
	display: inline-block;
	/*float: left;*/
	margin-top: 10px;
	width: 11%;
}

.main .container .classification_attr ul  li:hover{
	color: #E23E37;
	text-decoration: underline;
}

.main .container .goods_list .sort{
	background: #999;
	padding: 5px 0;
}

.main .container .goods_list .sort ul{
	padding: 0 15px;
}

.main .container .goods_list .sort li{
	display: inline-block;
	line-height: 20px;
	padding: 0 5px;
	background: #FFF;
	border: 1px solid #373737;
	margin-left: -1px;
}


.main .container .goods_list .sort li:hover{
	border: 1px solid #DE2D2D;
	color: #DE2D2D;
	position: relative;
}

.main .container .goods_list .sort li.focus{
	background: #DE2D2D;
	border: 1px solid #DE2D2D;
	color: #fff;
}


.main .container .goods_list .goods_show ul{
	margin-top: 20px;
}

.main .container .goods_list .goods_show ul li{
	display: inline-block;
	width: 25%;
	text-align: center;
	margin: 30px 0;
}

.main .container .goods_list .goods_show ul li a{
	display: block;
	font-size: 15px;
	color: #888;
	font-weight: 800;
	text-decoration: none;
	line-height: 25px;
}

.main .container .goods_list .goods_show ul li .price{
	display: block;
	line-height: 25px;
	font-size: 15px;
	font-weight: 800;
	color: #4C4B4B;
}

.main .container .goods_list .goods_show ul li .good_img{
	width: 150px;
	height: 150px;
	overflow: hidden;
	margin: auto;
}

.main .container .goods_list .goods_show ul li span:before{
	content: 'P';
	background: #DE2D2D;
	color: #F2F2F2;
	padding: 0 5px;
	font-size: 12px;
	border-radius: 5px;
	margin: 0 5px;
	vertical-align: 1px;
}


.main .container .goods_list .goods_show ul li em{
	font-size: 12px;
	color: #4C4C4C;
	font-weight: bold;
	margin-top: 7px
}

.main .container .goods_list .goods_show ul li .good_img:hover img{
	-webkit-animation: imgshow 1s ease-in-out 1 forwards;	
}


.imgdown{
	-webkit-animation: imgdown 0.5s ease-in-out 1 forwards;
}


@-webkit-keyframes imgshow {
	0% {
		-webkit-transform: scale(1)
	}

	100% {
		-webkit-transform: scale(1.2)
	}
}

@-webkit-keyframes imgdown{
	0% {
		-webkit-transform: scale(1.2);
	}

	100% {
		-webkit-transform: scale(1);
	}
}